workflow/form-to-email-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Test Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First Name"
            },
            {
              "fieldLabel": "Last Name"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Occupation",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Student"
                  },
                  {
                    "option": "Engineer"
                  },
                  {
                    "option": "Doctor"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "8352ac2a-5381-46c8-a993-9046b72f1623",
      "name": "On form submission",
      "webhookId": "52475839-3ddc-4033-a8d9-14b3639dcbf1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1cEkbQM--p3ps7Zo_fEzvPAIySPF9TjU67dFANRq2lkA",
          "mode": "list",
          "cachedResultName": "Test Spreadsheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cEkbQM--p3ps7Zo_fEzvPAIySPF9TjU67dFANRq2lkA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cEkbQM--p3ps7Zo_fEzvPAIySPF9TjU67dFANRq2lkA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $json['First Name'] }}",
            "Last Name": "={{ $json['Last Name'] }}",
            "Email": "={{ $json.Email }}",
            "Occupation": "={{ $json.Occupation }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Occupation",
              "displayName": "Occupation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "d3d79af9-ec1e-4dda-98bd-354e7a62a39f",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m8JJAxNKJcXTjoYt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5e3ffb00-0832-409c-950b-fba0a9b1256a",
              "leftValue": "={{ $json.Occupation }}",
              "rightValue": "Student",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        384,
        0
      ],
      "id": "984cb437-e924-471a-b984-ec45dc5227c3",
      "name": "Filter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Occupation }}",
                    "rightValue": "Engineer",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ece17a01-1ef2-4239-8481-3c77760dde0f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6c3bcd54-2672-4f79-a6df-81659fd64910",
                    "leftValue": "={{ $json.Occupation }}",
                    "rightValue": "Doctor",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        592,
        0
      ],
      "id": "2cf4c987-f53f-4bc2-af55-95f372c7515e",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "shreyachourasia58@gmail.com",
        "subject": "Hello!",
        "message": "Engineer Lead",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        800,
        -96
      ],
      "id": "5275e635-4d88-4e91-abfb-4d0f60725c93",
      "name": "Send a message",
      "webhookId": "1a515a9b-9627-44d2-91da-ac2d3869701e",
      "credentials": {
        "gmailOAuth2": {
          "id": "r3MIj3TgWK5rhQjE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "shreyachourasia58@gmail.com",
        "subject": "hey there",
        "message": "Engineer Lead",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        928,
        32
      ],
      "id": "0f07a7db-2ca1-4972-bb61-a2b39341f3d0",
      "name": "Send a message1",
      "webhookId": "1a515a9b-9627-44d2-91da-ac2d3869701e",
      "credentials": {
        "gmailOAuth2": {
          "id": "r3MIj3TgWK5rhQjE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        -96
      ],
      "id": "b21981e0-6639-4b2a-842c-093926bae226",
      "name": "Merge"
    },
    {
      "parameters": {
        "sendTo": "shreyachourasia58@gmail.com",
        "subject": "hi!!",
        "message": "n8n Project in progress!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1328,
        -96
      ],
      "id": "51d76fda-b820-4eb4-9cea-6f3fac80c998",
      "name": "Send a message2",
      "webhookId": "65343d7d-9d21-4e71-b1d8-767bad0d2fb7",
      "credentials": {
        "gmailOAuth2": {
          "id": "r3MIj3TgWK5rhQjE",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "First Name": "Shreya",
          "Last Name": "Chourasia",
          "Email": "shreyachourasia58@gmail.com",
          "Occupation": "Doctor",
          "submittedAt": "2026-06-10T17:28:37.832-04:00",
          "formMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e6113add-f702-46ac-aec3-864a09c56598",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "11de98cef50ad9f97af03ea41f9b0e0a61fc0b222494b0f85650e9a5403a648e"
  },
  "nodeGroups": [],
  "id": "aXKuGbqDIUkKInQ1",
  "tags": []
}